.hms-container {
  max-width: 97vw;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  height: 94vh;
}

.hms-header {
  text-align: center;
  background-color: #3498db;
  color: #fff;
  padding: 10px;
  margin-bottom: 20px;
}
.diagnosis1-container {
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 20px;
}

.diagnosis1-container h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.diagnosis1-container p {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 20px;
}
